html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
}

.bgcolour {
  background-color: #80c1ff;
}

.btn-dark {
  background-color: #003566 !important;
}

.btn-dark:hover {
  background-color: #000000 !important;
}

h1 {
  color: #003566;
  font-family: 'Kameron', open-sans;
}

h2 {
  color: #003566;
  font-family: 'Raleway', serif;
}

h3 {
  color: white;
  font-family: 'Raleway', serif;
  font-size: 23px;
}

h4 {
  font-family: 'Raleway', serif;
}

h6 {
  color: #003566;
  font-family: 'Raleway', serif;
  padding: 10px;
}

p {
  font-size: 20px;
  font-family: 'Raleway', serif;
  color: white;
}

li {
  padding-left: 16px;
  font-size: 20px;
  font-family: 'Raleway', serif;
  color: white;
}

q {
  /*special format for quotes*/
  font-size: 20px;
  font-family: 'Raleway', serif;
  color: white;
}

blockquote cite {
  color: #003566;
}

label {
  color: #003566;
}

#logo-div {
  /*to center the logo*/
  vertical-align: middle;
  padding: 0px;
}

#logo-link {
  /* link was behind the text */
  z-index: 10;
}

#header {
  width: 100%;
  background: white;
}

#body {
  /* add space for the footer */
  padding-bottom: 60px;
  width: 100%;
}

#footer {
  height: 60px;
  background: #80c1ff;
  padding-top: 100px;
}

/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  margin: 5px 2px;
  text-align: center;
  border-radius: 50%;
}

/* Add a hover effect */
.fa:hover {
  background-color: #000000 !important;
}

/* Set a specific color for each brand */
/* Meetup */
.fa-meetup {
  background: #003566;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #003566;
  color: white;
}

.navbar {
	margin:0 !important;
	padding: 0px !important;
}
